html{
  font-size: 16px;
  font-family:helvetica,sans-serif;
  line-height:1.2;
}


h1{
  font-weight: 800;
  font-size: 2rem;
}

h2{
  font-weight: 750;
  font-size: 1.8rem;
}

h3{
  font-weight: bold;
  font-size: 1.5rem;
}

.h-container{
  position: fixed;
  height :4rem;
  width: 100%;
  z-index:1;
  background: white;
}

.h-desktop{
  display: flex;
  justify-content: space-between;
  font-size:1.25rem;
  padding-top:0.5rem;
}

.company{
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.company-logo{
  height: 3rem;
}

.menu-desktop li{
  display : inline;
  margin: 1rem;
}

.n-desktop{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 1.5rem;
}

.acade{
  color : silver;
}

.h-mobile{
  display:none;
}

/*Mobile L 425px*/
@media only screen and (max-width:860px){
  .h-desktop{
    display:none;
  }

  .h-mobile{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
  }

  .img-mob{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .img-mob img{
      height: 3rem;
  }
}

/************/
/* Banniere */
/************/

.banniere{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCCC;
  padding-top:3rem;
}

.banniere .b-img{
  overflow: hidden;
  width:60%;
  margin: 2rem 1.5rem;
  padding-top: 1rem;
}

.banniere .b-img img{
  max-width:100%;
  height:auto;
}

.learn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;
  margin-left: 1rem;
}

.start-something{
  line-height: 1.5rem;
}

.button-start{
  width: 15rem;
  background-color: #515151;
  color: white;
  text-align: center;
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
  width: 90%;
}

.something{
  padding-bottom: 2rem;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

@media only screen and (max-width: 860px){
  .banniere{
    flex-direction: column;
  }
  .banniere .b-img{
    width: 100%;
    margin-top:0;
  }

  .learn{
    width: 100%;
  }

  .start-something{
    margin-left: 1rem;
    padding-bottom: 2rem;
  }
}
/******************/
/* main container */
/******************/

.main-container{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.container-1{
  display: flex;
  flex-direction: column;
  width:60%;
  margin-right:1.5rem;
}

.container-1 .keep-practicing h2{
  padding-top:2rem;
  padding-bottom: 1.5rem;
}

.container-1 .keep-practicing p{
  padding-bottom: 2rem;
  line-height: 1.5rem;
  color: grey;
}

.container-1 img{
  max-width:100%;
}

.container-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:40%;
  height: 100%;
}

.container-2-1{
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.container-2-1 .img-container{
  width:35%;
} 
 
.container-2-1 img{
  max-width:100%;
  height: auto;
}

.container-2-1 .mobile{
  display: none;
}

.container-2-1 .cell1{
  display: flex;
  flex-direction: column;
  padding-left:1rem;
  line-height: 2rem;
  width:65%;
}

.container-2-1.gris{
  background-color: #CCCCCC;
  padding-left: 1rem;
  padding-top: 1rem;
}


@media only screen and (max-width: 860px){

  .container-1{
    display: none;
  }

  .container-2{
    width: 100%;
  }

  .container-2-1{
    display: flex;
    flex-direction: column;
  }

  .container-2-1 .img-container{
    display:flex;
    justify-content: center;
    width: 100%;
  }

  .container-2-1.gris{
    background-color: white;
  }

  .cell1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0rem;
    padding-bottom:1rem;
  }

  .container-2-1 .desktop{
    display: none;
   }
  
  .container-2-1 .mobile{
    display: block;
   }

}

/* ---------------*/
/* Start learning */
/* ---------------*/
.start-learning{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  background-color: #CCCCCC;
}

.img-ligne{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom:2rem;
}

.img-ligne .img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width:30%;
}


.img-container img{
  max-width:100%;
  height:auto;
}

.start-learning h1{
  text-align: center;
  padding-top:2rem;
  padding-bottom: 2rem;
}


.content-study{
  background-color: white;
  height:12rem;
  padding-left:1rem;
}

.content-study h5{
  padding-top: 0.5rem;
  font-size:1.3rem;
  color: grey;
  line-height: 1.25;
}
.content-study h3{
  padding-top:1rem;
  padding-bottom:1.rem;
}

.start-learning-mobile{
  display: none;
}

@media only screen and (max-width: 860px){
  .start-learning {
    display: none;
  }

  .start-learning-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .start-learning-mobile .menu-mobile{
    width: 100%;
    padding-left: 1rem;
  }

  .start-learning-mobile h2{
    padding-top:1rem;
    padding-bottom:1rem;
  }
  .start-learning-mobile h3{
    padding-left: 1rem;
    padding-top:1rem;
    padding-bottom: 2rem;
    background-color: #CCCCCC;
    margin-bottom: 0.5rem;
    width:100%;

  }

}


/*----------------*/
/* Thesis exhibit */
/******************/
.thesis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.thesis h1{
  padding-top:2rem;
  padding-bottom:2rem;
}

.exhibit{
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
}

.movie{
  width:100%;
}

.movie video{
  height: auto;
  max-width: 100%;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-left: 1.5rem;
}

.img-fisma{
  padding: 1rem;
}

.img-fisma img{
  height: auto;
  max-width: 100%;
}

.fisma{
  display: flex;
  flex-direction: row;
  background-color: #CCCCCC;
}

.text1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
}

.img-now{
  padding: 1rem;
  width:50%;
}

.img-now img{
  height: auto;
  max-width: 100%;
}

.now-then{
  display: flex;
  flex-direction: row;
}

.text2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
}

@media only screen and ( max-width: 860px){
  .details{
    display: none;
  }
}

/*-----------*/
/* Reimagine */
/*-----------*/

.Reimagine{
  padding-top:1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  width: 60%;
}

.Reimagine h3{
  padding-bottom: 0.5rem;
}

.Reimagine p{
  font-size: 1.2rem;
  color: grey;
  line-height: 1.5rem;
}

@media only screen and (max-width:860px){
  .Reimagine{
    display: none;
  }
}

/*--------*/
/* Footer */
/*--------*/
footer{
  padding-left:1.5rem;
  padding-bottom:2rem;
}

@media only screen and (max-width:860px){
  footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}